@charset "utf-8";
@import './reset.css';

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7a00;
    padding: 15px 30px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.site-name {
    font-size: 30px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 25px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-item a:hover {
    color: #000;
}

.search-box {
    display: flex;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.search-box input {
    padding: 8px 12px;
    font-size: 14px;
    width: 150px;
}

.search-btn {
    background-color: #fffcfa;
    color: rgb(9, 9, 9);
    padding: 8px 12px;
    cursor: pointer;
}

footer {
    background-color: #ff7a00;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99; /* ensures this element stays on top of all other content on the page so it is always visible and clickable.*/
}

.footer-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #ff7a00;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%; 
    text-decoration: none;
    transition: all 0.4s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.footer-top i {
    color: #fff;
    transition: transform 0.3s ease;
}

.footer-top a:hover {
    background: #fa9230;
    transform: translateY(-5px);
}

.footer-top a:hover i {
    transform: scale(1.1);
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item a {
    display: block;
    width: 100%;
  }
}


/* FOR SMALL MOBILE */
@media (max-width: 480px) {

  .site-name {
    font-size: 22px;
  }

  .header {
    padding: 10px 15px;
  }

  footer {
    font-size: 12px;
  }
}