@charset "utf-8";
@import './reset.css';

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7a00;
    padding: 15px 30px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.site-name {
    font-size: 30px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 25px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-item a:hover {
    color: #000;
}

.search-box {
    display: flex;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.search-box input {
    padding: 8px 12px;
    font-size: 14px;
    width: 150px;
}

.search-btn {
    background-color: #fffcfa;
    color: rgb(9, 9, 9);
    padding: 8px 12px;
    cursor: pointer;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer-bottom p {
    font-size: 20px;
}