@charset "utf-8";
@import './reset.css';

.menu-header {
    background-color: #fce896;
    padding: 6rem 0;
    text-align: left;

}

.menu-header h1 {
    color: #e62e00;
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    margin-left: 80px;
}

